# Define the workflow name
name: Build and Test

# Define when the workflow should run
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Define the jobs to be run in the workflow
jobs:
  build:
    # Specify the type of runner to use
    runs-on: ubuntu-latest

    # Define the steps to be executed in the job
    steps:
      # Step 1: Check out the repository code
      - name: Checkout code
        uses: actions/checkout@v2

      # Step 2: Set up Node.js environment
      - name: Use Node 20 LTS
        uses: actions/setup-node@v4
        with:
          node-version: 'LTS'
          cache: 'npm'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm ci

      # Step 4: Run tests
      - name: Run tests
        run: npm test

      # Step 5: Build the project
      - name: Build project
        run: npm run build